.i_str_header {
  padding: 110px 0 80px;
  border-radius: 30px;
  background: url(../assets/images/str-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px !important;
}
.i_str_header h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.i_str_header p {
  color: #fff;
  text-align: center;
  max-width: 783px;
  margin: 0 auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inv_str_card {
  width: 48.6%;
  height: 515px;
  margin-bottom: 30px;
  padding: 48px 30px 42px 30px;
  border-radius: 40px;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
}

.inv_str_cards {
  max-width: 975px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inv_str_card h2 {
  color: var(--white, #fff);
  margin: 16px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34.02px; /* 170.1% */
}

.inv_str_card p {
  color: var(--white, #fff);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px; /* 177.8% */
}

.inv_str_text_block_card {
  padding: 90px 0;
  border-radius: 60px;
  background: #88b702;
  position: relative;
  z-index: 11;
}

.inv_str_text_block_card p {
  color: #fff;
  text-align: center;
  width: 879px;
  margin: 0 auto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inv_str_text p {
  color: #fff;
  margin-top: 120px;
  width: 746px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inv_str_text_block {
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 150px !important;
}
.inv_str_text_block img {
  position: absolute;
  right: -100px;
  bottom: 0;
}

@media only screen and (max-width: 1300px) {
  .inv_str_text_block {
    overflow: hidden;
  }
}

@media only screen and (max-width: 800px) {
  .i_str_header {
    padding: 50px 0 150px;
  }
  .i_str_header h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .inv_str_cards {
    flex-direction: column;
  }
  .inv_str_card {
    width: 100%;
    height: auto;
  }
  .inv_str_text_block_card p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 0 20px;
    width: auto;
  }
  .inv_str_cards {
    padding-bottom: 0 !important;
  }
  .inv_str_text_block img {
    top: 50px;
    width: 80%;
  }
  .inv_str_text_block {
    padding-top: 170px;
  }
  .inv_str_text p {
    width: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
  }
  .inv_str_text_block {
    margin-bottom: 0 !important;
  }
  .inv_str_card h2 {
    font-size: 16px;
  }
  .inv_str_card p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .i_str_header  {
    margin-top: 0 !important;
  }
}
