nav {
  padding-top: 56px;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_btn {
  padding: 10px;
  border-radius: 30px;
  width: 199px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav_content {
  display: flex;
  align-items: center;
  gap: 75px;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav_menu p {
  color: var(--white, #fff);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav_menu p:hover {
  text-decoration: underline;
}

.lang_toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang_toggler p {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lang_toggler span {
  color: #b9b9b9;
}

.nav_menu_list_btn {
  position: relative;
}
.nav_menu_list {
  top: -24px;
  left: -33px;
  width: 251px;
  /* height: 277px; */
  position: absolute;
  z-index: 111;

  border-radius: 20px;
  background: #fff;
  padding: 25px;
}

.nav_menu_list p {
  color: #000;
  margin-bottom: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav_menu_list .list_top {
  margin-bottom: 50px;
  text-decoration: underline;
  cursor: pointer;
}
.nav_menu_list_btn_toggler {
  cursor: pointer;
  text-decoration: underline;
}

.nav_menu_list a:last-child p {
  margin: 0;
}
.nav_menu_list p:hover {
  text-decoration: underline;
}
.open {
  display: block !important;
}
.nav_menu_icon {
  display: none;
}
.nav_mob_menu {
  width: 100%;
  padding: 50px 20px 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1111;
  right: 0;
  height: 100vh;
  position: fixed;
  background: var(--green-bg, #050605);
  transition: all 0.4s ease;
  transform: translate(100%);
}
.visible_menu {
  transition: all 0.4s ease;
  transform: translate(0);
}
.nav_exit_menu {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  justify-content: space-between;
}
.nav_mob_menu_list h3 {
  margin-bottom: 20px;
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav_mob_menu_list p {
  color: #fff;
  margin-bottom: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav_mob_menu_list_line {
  width: 253px;
  height: 1px;
  background: #c7c7c7;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav_mob_menu_list .lang_toggler {
  align-items: start;
  justify-content: flex-start;
  margin-top: 30px;
}
.nav_mob_menu_content {
  position: relative;
}
.nav_mob_menu_content .nav_grad {
  position: absolute;
  left: -20px;
  top: -100px;
  width: 900px;
  right: -20px;
}
.nav_mob_menu_content div {
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .nav_btn {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .nav_content {
    display: none;
  }
  .nav_menu_icon {
    display: flex;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    padding-top: 50px;
  }
}
